body {
    font-family: "ff-good-web-pro-condensed", sans-serif;
    margin: 0;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.nav {
    font-weight: 600;
    font-size: 1.125em;
    letter-spacing: .2em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
}

.nav li {
    margin: 0 20px 0 20px;
}

.nav li a {
    color: black;
    text-decoration: none;
}

.nav li a:hover {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
li.dropdown {
    display: inline-block;
}

*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 20px 32px rgba(63,101,97,0.3);
    /*z-index: 1;*/
    border: 1px solid #91a198;
}

.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sidebar {
    display: block;
    position: fixed;
    /*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    */
    right: 0;
    top: 30%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
    height: 50%;
    width: 50px;
}

#sidebar a {
    text-decoration: none;
    color: red;
}

.hide {
    display: none;
}

#sidebar:hover + .hide {
    display: block;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
    height: 50%;
}

.hide a {
    display: flex;
}

#home {
    min-height: 100vh;
    background-image: url("/img/bckg1.jpg");
    background-size: cover;
}

.wrapper-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 1.125em;
    color: white;
    min-width: 50%;
    margin-left: 40%;

    /*padding-top: 20%;*/
}

.description {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.85)) drop-shadow(0 6px 28px rgba(0,0,0,.7));
}

.trapezoid {
        width: 220px;
        text-align: center;
        height: 0;
        position: relative;
        border-right: 50px solid transparent;
        border-top: 40px solid #fff;
        border-left: 50px solid transparent;
        box-sizing: content-box;
        /*box-shadow: inset 0 0 10px #000;*/
        /*box-shadow: 0 20px 32px rgba(63, 101, 97,.5);*/
}

.trapezoid a {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -33px;
    left: 15%;
    color: red;
}

.trapezoid a[href="#contact"] {
    color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em 1em;
}

/*

.wrapper h2 {
    margin-top: 0;
}

*/

#home a {
    text-decoration: none;
}

/*

#home a:first-of-type {
    color: red;
}

*/

/*

#home a:last-of-type {
    color: white;
}

*/

#about {
    min-height: 100vh;
}

.wrapper-about {
    display: flex;
    padding-top: 10vh;
    margin: 0 10em 0 10em;
}

.content-about {
    max-width: 520px;
}

#skills {
    min-height: 100vh;
}

.wrapper-skills {
    display: flex;
    position: relative;
    top: 30vh;
    margin-left: 8.75em;
}

#projects {
    min-height: 100vh;
    background-image: url("/img/bckg2.jpg");
    background-size: cover;
    position: relative;
}

.projects {
    position: absolute;
    top: 20%;
    max-width: 50em;
    left: 8.75em;
}

.projects span{
    color: white;
}
.projects h2 {
    color: white;
    font-size: 3.5em;
}

.projects-title {
    display: grid;
    grid-template: repeat(2,1fr) /repeat(2, 1fr);
    gap: 2.5em;
}

.title h3{
    position: relative;
    text-align: center;
    color: red;
    margin: 0;
    top: 5em;
    font-size: 2em;
    text-shadow: 0 2px 24px rgba(0,0,0,.6);
}

.btn1 {
    position: absolute;
    display: inline-block;
}

.popup {
    position: fixed;
    /*text-align: center;*/
    /*border-radius: 0.5em;*/
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /*padding: 10%;*/
    /*color: #000;*/
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(0,0,0,1);
    visibility: hidden;
    /*opacity: 0;*/
    /*transition: opacity .5s, visibility 0s linear .5s;*/
    z-index: 1;
    background-image: url("/img/bckg1.jpg");
    background-size: cover;
}

.content-popup {
    display: flex;
    flex-direction: column;
    min-width: 37.5em;
    background: rgba(0,0,0,.7);
    color: white;
    position: absolute;
    left: 6.25em;
    bottom: 1.75em;
}

.close {
    text-decoration: none;
    position: absolute;
    right: .5em;
    top: .3em;
    /*padding: 5px;*/
    color: #fff;
    /*transition: color .3s;*/
    font-size: 4em;
    /*line-height: 1.5;*/
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

#news {
    min-height: 100vh;
}

.news {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
    gap: 2.5em;
}
#news h2 {
    text-align: center;
    font-size: 3.5em;
    margin: 0;
}

.news-content {
    background: rgba(0,0,0,.05);
    padding: 2em;
    list-style-type: square;
}

.news-content a:hover {
    color: red;
}

.news-content a {
    color: black;
    font-size: 1.25em;
}

.news article a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 700;
}

.news article a img {
    filter: drop-shadow(0 8px 24px rgba(0,0,0,.2));
    box-shadow: 0 8px 24px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    width: 100%;
}

.news article a h3 {
    margin: 0;
    max-width: 520px;
}

.news article a:hover {
    color: red;
}

#hobbies {
    min-height: 100vh;
}

#exp {
    min-height: 100vh;
}

#exp h2 {
    font-size: 2rem;
    margin: 0 8.75rem;
    padding-top: 8.75rem;
}

.exp-links {
    margin: 1.125rem 8.75rem;
}

.exp-links a {
    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    position: relative;
}

.exp-links a:hover {
    color: red;
}

.exp-links a:active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    bottom: -4px;
}

.exp-links a:last-child {
    margin-left: 2rem;
}

.timeline {
    display: flex;
    padding: 0 8.75em;
    align-items: flex-end;
}

.timeline a {
    color: black;
}

.timeline p {
    text-align: left;
}

.status {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    border-top: 4px solid black;
    position: relative;
}

.status:before {
    background-color: white;
    content: "";
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    border: 4px solid black;
    position: absolute;
    top: -8px;
    left: 0;
}

#comment {
    min-height: 100vh;
}

.wrapper-comment {
    display: flex;
    gap: 2.5em;
    position: relative;
    top: 20vh;
    margin-left: 8.75em;
}

.wrapper-comment a {
    margin-right: 40px;
}

.comment-image {
    filter: drop-shadow(0 2px 5px rgba(0,0,0,.24)) drop-shadow(0 8px 32px rgba(0,0,0,.3));
}

.comment-title {

}

.comment-title h2{
    font-size: 3.5em;
}

.comment-title p {
    font-size: 1.125em;
}

#contact {
    min-height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
}

#contact h2 {
    font-size: 3.875em;
    text-transform: uppercase;
}

#name, #email, #message {
    border: 1px solid #91a198;
    box-shadow: 0 20px 32px rgba(63,101,97,0.3);
    padding: 14px 16px;
    margin-bottom: 1em;
}

#footer {
    background-color: black;
    min-height: 100vh;
}

.links-top, .links-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links-top a, .links-bottom a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2em;
    letter-spacing: .2em;
}

/*

.links-bottom {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.links-bottom a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2em;
    letter-spacing: .2em;
}

*/
