/*

html, html * {
    box-sizing: content-box;
}

*/

body {
    font-family: "ff-good-web-pro-condensed", sans-serif;
    margin: 0;
    scrollbar-width: thin;
}

i {
    font-style: normal;
}

#logo {
    position: absolute;
    z-index: 3;
    margin: 15px 0 0 100px;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, .3));
}

.st5 {
    font-family: quicksand, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
}

.st6 {
    fill: #E52421;
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
}

#home, #about, #skills, #projects, #news, #hobbies, #exp, #comment, #comment, #contact {
    min-height: 100vh;
    scroll-snap-align: center;
}

#home::after, #about::after, #skills::after, #news::after, #hobbies::after, #exp::after, #comment::after, #contact::after,
.popup::after, .popup2::after, .popup3::after, .popup4::after, .sidebar-hidden::after {
    content: "";
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    position: absolute;
    opacity: .1;
    border: 1px solid #000;
    z-index: 1;
}

.sro {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: .2rem;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    min-height: 5.5rem;
}

.nav li {
    margin: 0 .5rem 0 .5rem;
}

.nav li a {
    color: #000;
    text-decoration: none;
}

.nav a[href="#contact"] {
    color: #e60000;
}

.nav li a:hover {
    color: #e60000;
}

li a, .dropbtn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 15rem;
    box-shadow: 0 20px 32px rgba(63, 101, 97, 0.3);
    border: 1px solid #91a198;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger-menu {
    display: none;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown::before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #000;
    display: block;
    height: 0;
    right: 0;
    width: 0;
    top: calc(50% - 2px);
    border-bottom: 0;
    cursor: pointer;
}

.hexagon {
    position: fixed;
    top: 30%;
    right: 24px;
    z-index: 5;
    height: 400px;
    width: 64px;
    background-color: rgba(0, 0, 0, .2);
}

.hexagon::before, .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .2) transparent;
}

.hexagon::before {
    top: -26px;
    border-width: 0 32px 26px 32px;
}

.hexagon::after {
    bottom: -26px;
    left: 0;
    border-width: 26px 32px 0 32px;
}

.hexagon img {
    width: 24px;
    height: 24px;
    margin: 12px 0 0 19px;
}

.sidebar-hidden {
    position: absolute;
    top: 0;
    right: 64px;
    z-index: 5;
    display: none;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(8px);
    width: 150px;
    height: 400px;
}

.hexagon:hover .sidebar-hidden {
    display: block;
}

.sidebar-hidden a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.2rem 1rem 0 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    z-index: 2;
}

.sidebar-hidden a:hover {
    color: #e60000;
}

#home {
    background-image: url("/img/home1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 4;
}

@media screen and (max-width: 1920px) {
    #home {
        background-image: url("/img/home2.jpg");
        background-size: cover;
    }
}

.wrapper-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 15%;
    font-size: 1.125rem;
    color: #fff;
    min-width: 50%;
    margin-left: 40%;
    text-align: center;
    z-index: 2;
}

#wrapper {
    position: absolute;
    top: -110%;
}

.description, .job {
    font-size: 2.75rem;
    font-weight: 700;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .85)) drop-shadow(0 6px 28px rgba(0, 0, 0, .7));
}

.trapezoid {
    width: 220px;
    text-align: center;
    height: 0;
    position: relative;
    border-right: 20px solid transparent;
    border-top: 40px solid #fff;
    border-left: 20px solid transparent;
}

.trapezoid a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -33px;
    left: 17%;
    color: #e60000;
    text-decoration: none;
}

.trapezoid a[href="#contact"] {
    color: #000;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem 1rem;
    z-index: 2;
}

#about {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-about {
    display: flex;
    gap: 2.5rem;
    padding-top: 30vh;
    margin: 0 0 0 15rem;
}

.content-about {
    font-size: 1.125rem;
    line-height: 1.75rem;
    z-index: 2;
}

.content-about h3 {
    font-size: 2rem;
    font-weight: 700;
}

.content-about a {
    color: #000;
    text-decoration: none;
}

.content-about a:hover {
    text-decoration: underline;
}

.content-about p {
    display: flex;
    align-items: center;
}

img[alt="icone"] {
    margin-right: .5rem;
}

.image-comparaison {
    max-width: 700px;
}

.image-comparaison img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.image-comparaison .image-container {
    position: relative;
    display: flex;
}

.image-comparaison .image-container .before {
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}

.image-comparaison .slider {
    position: absolute;
    width: 100%;
    top: 45%;
    opacity: 0;
    z-index: 5;
}

.image-comparaison .slider-line {
    position: absolute;
    height: 100%;
    width: 3px;
    background: #fff;
    left: 50%;
}

.slider-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    transform: translate(-50%, -50%) rotateZ(90deg);
    z-index: 1;
    cursor: pointer;
}

#skills {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    gap: 2rem;
    top: 30vh;
    margin-left: 8.75em;
}

.content-skills h2 {
    font-size: 2rem;
}

.content-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.content-skills img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 1.75rem 0 1.75rem 0;
    max-width: 100%;
}

.slider-image {
    overflow-x: scroll;
    z-index: 2;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    width: 100%;
    -webkit-filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
}

.after {
    position: relative;
}

.right, .left {
    position: absolute;
    top: 110%;
    font-size: 2rem;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.right {
    left: 60%;
}

.left {
    left: 55%;
}

.right:hover, .left:hover {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.after::after {
    content: "";
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    position: absolute;
    border: 1px solid hsla(0, 0%, 100%, .2);
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#projects {
    background-color: #261812;
    background-image: url("/img/bckg2.jpg");
    background-size: cover;
    position: relative;
}

.projects {
    position: absolute;
    top: calc(50% + 56px);
    transform: translateY(-50%);
    max-width: 50rem;
    width: 100%;
    left: 8.75rem;
}

.projects h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-shadow: 0 2px 24px rgba(0, 0, 0, .6);
    margin: 0;
}

.projects-title {
    display: grid;
    grid-template: repeat(2, 1fr) /repeat(2, 1fr);
    gap: 2.5rem;
    margin-top: 2rem;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 20px 32px rgba(0, 0, 0, .5));
}

/*
.title::before {
    background: linear-gradient(180deg, transparent, #000 69.27%);
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    height: 95px;
    opacity: .3;
    z-index: 1;
}
*/

/*
.title::after {
    content: "";
    border: 1px solid hsla(0, 0%, 100%, .2);
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 25px;
    left: 4px;
    z-index: 1;
}
*/

/*
.title h3 {
    color: #fff;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0;
    top: 5em;
    text-shadow: 0 2px 24px rgba(0, 0, 0, .6);
    z-index: 1;
}
*/

/*
.btn1 {
    position: absolute;
    display: inline-block;
    z-index: 2;
}
*/

.popup, .popup2, .popup3, .popup4 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 1);
    visibility: hidden;
    z-index: 5;
    background-image: url("/img/projects.jpg");
    background-size: cover;
    /*text-align: center;
    border-radius: 0.5em;
    padding: 10%;
    color: #000;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s, visibility 0s linear .5s;*/
}

.popup2 {
    background-image: url("/img/home2.jpg");
}

.popup3 {
    background-image: url("/img/bckg2.jpg");
}

.popup4 {
    background-image: url("/img/apres.jpg");
}

.content-popup {
    display: flex;
    flex-direction: column;
    min-width: 37.5rem;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    position: absolute;
    left: 6.25rem;
    bottom: 1.75rem;
    box-sizing: border-box;
    gap: 1rem;
    width: 600px;
    padding: 32px 20px 16px 40px;
}

.content-popup span {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    text-shadow: 0 2px 24px rgba(0, 0, 0.6);
}

.content-popup p {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-shadow: 0 2px 24px rgba(0, 0, 0.6);
}

.content-popup a {
    position: relative;
    color: #fff;
    z-index: 2;
}

.close {
    text-decoration: none;
    position: absolute;
    right: .5em;
    top: 1rem;
    color: #000;
    font-size: 4rem;
    z-index: 2;
    padding: 0 1rem 0 1rem;
}

.popup:target, .popup2:target, .popup3:target, .popup4:target {
    visibility: visible;
    opacity: 1;
}

#news {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 20vh;
    gap: 2.5rem;
}

#news h2 {
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 3rem;
}

.news-content {
    background: rgba(0, 0, 0, .05);
    padding: 2rem 2rem 2rem 0;
    z-index: 2;
}

.news-content li {
    list-style-type: none;
}

a[href="https://www.alsacreations.com/home/0"] {
    margin-left: 2.5rem;
}

.news-content a:hover, .news article a:hover {
    color: #e60000;
}

.news-content a {
    color: #000;
    font-size: 1.25rem;
    padding-left: 0;
    line-height: 1.5rem;
}

.news article a {
    text-decoration: none;
    font-size: 2.25rem;
    color: #000;
    font-weight: 700;
}

.news article a img {
    -webkit-filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
    width: 100%;
}

.news article a h3 {
    margin: 0;
    max-width: 520px;
}

#news article {
    z-index: 2;
}

#hobbies {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.hobbies {
    position: relative;
    padding-top: calc(10vh + 112px);
    padding-left: 7.5rem;
    margin-bottom: 5.625rem;
    max-width: 166vh;
}

.hobbies h2 {
    font-size: 2rem;
    margin: 0 0 2.5rem 0;
}

.content-hobbies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-hobbies {
    position: relative;
}

.main-hobbies img {
    width: 100%;
    aspect-ratio: 16/9;
}

.main-hobbies a::after {
    position: absolute;
    content: "";
    border: 1px solid hsla(0, 0%, 100%, .2);
    top: 4px;
    right: 4px;
    bottom: 8px;
    left: 4px;
}

.nav-hobbies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 3rem;
    width: 300px;
    max-height: 503px;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 2;
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.25rem;
}

.items h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.items img {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .17), 0 8px 32px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .17), 0 8px 32px rgba(0, 0, 0, .15);
    border: 4px solid transparent;
}

.hobbie {
    text-decoration: none;
    color: #000;
}

.hobbie:hover {
    color: #e60000;
}

.active {
    border: 4px solid #e60000;
}

#exp {
    position: relative;
    background-image: url("/img/mac3.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

#exp h2 {
    font-size: 3.5rem;
    margin: 0 8.75rem;
    padding-top: 20vh;
    min-width: 18.75rem;
}

.exp-links {
    margin: 1.125rem 8.75rem;
    min-width: 18.75rem;
}

.exp-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.exp-links a:hover {
    color: #e60000;
}

.exp-links a:active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: -4px;
}

.exp-links a:last-child {
    margin-left: 2rem;
}

.timeline {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 10vh;
    padding: 0 8.75em;
    overflow-x: auto;
    z-index: 2;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.timeline a {
    color: #000;
}

.timeline p {
    text-align: left;
}

.exp-content {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 24.375rem;
}

.exp-content p {
    width: 90%;
}

.status {
    padding: 0 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 4px solid #000;
    position: relative;
}

.status:before {
    background-color: #fff;
    content: "";
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 4px solid #000;
    position: absolute;
    top: -8px;
    left: 0;
}

.bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.text {
    line-height: 1.5rem;
}

.popup-exp {
    position: fixed;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
}

.content-popup-exp {
    padding: 2rem 7.5rem;
}

.content-popup-exp p:first-child {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
}

.content-popup-exp p:last-child {
    font-size: 1rem;
    line-height: 1.75rem;
    width: 100%;
}

.popup-exp:target {
    visibility: visible;
}

.close-exp {
    text-decoration: none;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 4rem;
}

@-webkit-keyframes apparition {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, .65);
    }
}

@keyframes apparition {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, .65);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
    -webkit-animation: apparition 1s ease forwards;
    animation: apparition 1s ease forwards;
}

.left1, .right1 {
    display: inline-block;
    position: relative;
    margin: 50px 50px 0 0;
    left: 50%;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: .5;
}

.left1:hover, .right1:hover {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#comment {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
    position: relative;
    top: 25vh;
    margin-left: 10%;
    z-index: 2;
}

.wrapper-comment a {
    position: relative;
    margin-right: 2.5rem;
}

.wrapper-comment a::after {
    content: "";
    border: 1px solid hsla(0, 0%, 100%, .16);
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.comment-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .24)) drop-shadow(0 8px 32px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .24)) drop-shadow(0 8px 32px rgba(0, 0, 0, .3));
    overflow-x: auto;
    scroll-behavior: smooth;
}

.comment-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 450px;
}

.comment-title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
}

.comment-title p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.comment-title p:first-of-type {
    font-size: 1.5rem;
    font-weight: 700;
}

.left2, .right2 {
    display: inline-block;
    position: relative;
    left: 70%;
    margin: 250px 50px 0 0;
    font-size: 2rem;
    opacity: .5;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer;
    z-index: 2;
}

.left2:hover, .right2:hover {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#contact {
    position: relative;
    background-image: url("/img/background.webp");
    background-size: cover;
}

.form-content {
    max-width: 35vw;
}

#form {
    z-index: 2;
    width: 50%;
    margin-left: 2.5rem;
}

.form {
    padding: 10% 10% 5% 10%;
}

.background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: hsla(0, 29%, 71%, .0    5);
    padding: 3.75rem 1.25rem;
}

.title-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#contact h2 {
    font-size: 3.875rem;
    text-transform: uppercase;
}

.form-content p {
    font-size: 0.875rem;
}

#name, #email, #message {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #91a198;
    -webkit-box-shadow: 0 20px 32px rgba(63, 101, 97, 0.3);
    box-shadow: 0 20px 32px rgba(63, 101, 97, 0.3);
    padding: 0.875rem 1rem;
    margin-bottom: 1rem;
    outline: none;
    margin-top: .5rem;
    width: 100%;
}

#message {
    max-width: 605px;
    max-height: 190px;
    min-width: 605px;
    min-height: 190px;
}

.trapezoid .form-button {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -35px;
    left: 22%;
    color: #e60000;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#name:focus, #email:focus, #message:focus {
    border-color: #e60000;
}

#footer {
    background-color: #000;
    text-align: center;
    padding-bottom: 3rem;
}

.links-top, .links-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.links-top a, .links-bottom a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 3rem 0 0 2rem;
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.socials a {
    margin-left: 2.5rem;
}

.copyright {
    font-size: 1.125rem;
    color: hsla(0, 0%, 100%, .6);
    margin-top: 2.5rem;
}

.line {
    margin: 2.5rem auto 0;
    border-bottom: 1px solid #2c2c2c;
    width: 70vw;
}

.logos-top, .logos-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 2rem;
}

.st2 {
    fill: #001E36;
}

.st3 {
    fill: #31A8FF;
}

@media screen and (max-width: 1024px) {

    .nav {
        display: none;
        flex-direction: column;
        width: 100vw;
        background-color: #fff;
    }

    .nav.show {
        display: flex;
    }

    .burger-menu {
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
        position: fixed;
        z-index: 5;
        margin: .5rem 0 0 1rem;
    }

    .logo {
        display: none;
    }

    .scroll {
        scroll-snap-type: none;
    }

    .hexagon {
        display: none;
    }

    .wrapper-about {
        flex-direction: column;
    }

    .background {
        display: flex;
        flex-direction: column;
    }

    #skills {
        min-height: 70vh;
    }

    .content-skills {
    }

    #skills h2 {
        text-align: center;
    }

    .wrapper-skills {
        flex-direction: column;
        top: 5vh;
        margin-left: 3rem;
    }

    .after img {
        width: 60vw;
        height: auto;
    }

    .left {
        left: 35%;
    }

    .right {
        left: 45%;
    }

    #news {
        min-height: inherit;
    }

    #news h2 {
        top: 2vh;
    }

    .news {
        top: 0;
    }

    .news article {
        display: none;
    }

    #hobbies {
        min-height: inherit;
    }

    .hobbies {
        padding: 10vh 2rem 3rem;
    }
    .main-hobbies a img {
        height: auto;
    }

    .nav-hobbies {
        display: none;
    }

    #exp {
        background-image: inherit;
        min-height: inherit;
    }

    #exp h2 {
        padding-top: 10vh;
        margin-left: 3rem;
    }

    .left1, .right1 {
        left: 35%;
        margin-bottom: 50px;
    }

    .exp-links {
        margin-left: 3rem;
    }

    .timeline {
        padding: 0;
        margin-left: 3rem;
    }

    #comment {
        min-height: inherit;
    }

    .wrapper-comment {
        top: 10vh;
        display: flex;
        flex-direction: column;
    }

    .comment-title {
        max-width: 325px;
    }

    .comment-title h2 {
        text-align: center;
    }

    .comment-img {
        margin-left: 4rem;
    }

    .comment-img img {
        width: 50vw;
        height: 100%;
    }

    .left2, .right2 {
        margin-top: 100px;
        margin-bottom: 1rem;
        left: 40%;
    }

    #contact {
        min-height: inherit;
    }

    #form {
        margin: 0;
    }

    .form-content {
        min-width: 70vw;
    }

    .background {
        padding-top: 0;
    }

    #message {
        min-width: 100%;
        max-width: 100%;
    }

    .socials {
        justify-content: normal;
    }
}