body {
    font-family: "ff-good-web-pro-condensed", sans-serif;
    margin: 0;
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
}

#home, #about, #skills, #projects, #news, #hobbies, #exp, #comment, #comment, #contact, #footer {
    min-height: 100vh;
    scroll-snap-align: center;
}

#home::after, #about::after, #skills::after, #news::after, #hobbies::after, #exp::after, #comment::after, #contact::after {
    content: "";
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    position: absolute;
    opacity: .1;
    border: 1px solid #000;
    z-index: 1;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: .2rem;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    min-height: 5.5rem;
}

.nav li {
    margin: 0 .5rem 0 .5rem;
}

.nav li a {
    color: #000;
    text-decoration: none;
}

.nav a[href="#contact"] {
    color: red;
}

.nav li a:hover {
    color: red;
}

li a, .dropbtn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 15rem;
    box-shadow: 0 20px 32px rgba(63, 101, 97, 0.3);
    border: 1px solid #91a198;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.burger-menu {
    display: none;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown::before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #000;
    display: block;
    height: 0;
    right: 0;
    width: 0;
    top: calc(50% - 2px);
    border-bottom: 0;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .nav {
        display: none;
        flex-direction: column;
        width: 100vw;
        background-color: white;
    }

    .nav.show {
        display: flex;
    }

    .burger-menu {
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
        position: fixed;
        z-index: 3;
        margin: .5rem 0 0 1rem;
    }
}

#sidebar {
    display: block;
    position: fixed;
    /*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    */
    right: 20px;
    top: 30%;
    z-index: 3;
    background-color: rgba(0, 0, 0, .2);
    height: 50%;
    width: 5%;
}

#sidebar a {
    text-decoration: none;
    color: red;
}

.hide {
    display: none;
}

#sidebar:hover + .hide {
    display: block;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 3;
    background-color: rgba(0, 0, 0, .2);
    height: 50%;
}

.hide a {
    display: flex;
}

#home {
    background-image: url("/img/home1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

@media screen and (max-width: 1920px) {
    #home {
        background-image: url("/img/home2.jpg");
        background-size: cover;
    }
}

.wrapper-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 20%;
    font-size: 1.125rem;
    color: #fff;
    min-width: 50%;
    margin-left: 40%;
    text-align: center;
    z-index: 2;
}

.description, .job {
    font-size: 2.75rem;
    font-weight: 700;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .85)) drop-shadow(0 6px 28px rgba(0, 0, 0, .7));
}

.trapezoid {
    width: 220px;
    text-align: center;
    height: 0;
    position: relative;
    border-right: 20px solid transparent;
    border-top: 40px solid #fff;
    border-left: 20px solid transparent;
}

.trapezoid a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -33px;
    left: 17%;
    color: red;
    text-decoration: none;
}

.trapezoid a[href="#contact"] {
    color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem 1rem;
    z-index: 2;
}

#about {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-about {
    display: flex;
    gap: 2.5rem;
    padding-top: 30vh;
    margin: 0 0 0 15rem;
}

.content-about {
    font-size: 1.125rem;
    line-height: 1.75rem;
    z-index: 2;
}

.content-about h3 {
    font-size: 2rem;
    font-weight: 700;
}

.content-about a {
    color: #000;
    text-decoration: none;
}

.content-about a:hover {
    text-decoration: underline;
}

.image-comparaison {
    max-width: 700px;
}

.image-comparaison img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.image-comparaison .image-container {
    position: relative;
    display: flex;
}

.image-comparaison .image-container .before {
    position: absolute;
    top: 0;
    width: 50%;
}

.image-comparaison .slider {
    position: absolute;
    width: 100%;
    top: 45%;
    opacity: 0;
    z-index: 5;
}

.image-comparaison .slider-line {
    position: absolute;
    height: 100%;
    width: 3px;
    background: #fff;
    left: 50%;
}

.image-comparaison .slider-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    transform: translate(-50%, -50%) rotateZ(90deg);
}

#skills {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-skills {
    display: flex;
    position: relative;
    gap: 2rem;
    top: 30vh;
    margin-left: 8.75em;
}

.content-skills h2 {
    font-size: 2rem;
}

.content-skills {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.content-skills img {
    align-self: center;
    margin: 1.75rem 0 1.75rem 0;
    max-width: 100%;
}

.slider-image {
    overflow-x: auto;
    z-index: 2;
}

.slider-wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
    filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
}

/*

.left, .right {
    position: absolute;
    top: 110%;
    left: 60%;
}

*/

#projects {
    background-image: url("/img/bckg2.jpg");
    background-size: cover;
    position: relative;
}

.projects {
    position: absolute;
    top: 20%;
    max-width: 50em;
    left: 8.75em;
}

.projects span {
    color: white;
}

.projects h2 {
    color: white;
    font-size: 3.5em;
}

.projects-title {
    display: grid;
    grid-template: repeat(2, 1fr) /repeat(2, 1fr);
    gap: 2.5em;
}

.title h3 {
    position: relative;
    text-align: center;
    color: red;
    margin: 0;
    top: 5em;
    font-size: 2em;
    text-shadow: 0 2px 24px rgba(0, 0, 0, .6);
}

.projects-title img {
    width: 100%;
}

.btn1 {
    position: absolute;
    display: inline-block;
}

.popup {
    position: fixed;
    /*text-align: center;*/
    /*border-radius: 0.5em;*/
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /*padding: 10%;*/
    /*color: #000;*/
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(0, 0, 0, 1);
    visibility: hidden;
    /*opacity: 0;*/
    /*transition: opacity .5s, visibility 0s linear .5s;*/
    z-index: 1;
    background-image: url("/img/home1.jpg");
    background-size: cover;
}

.content-popup {
    display: flex;
    flex-direction: column;
    min-width: 37.5em;
    background: rgba(0, 0, 0, .7);
    color: white;
    position: absolute;
    left: 6.25em;
    bottom: 1.75em;
}

.close {
    text-decoration: none;
    position: absolute;
    right: .5em;
    top: 1rem;
    /*padding: 5px;*/
    color: #fff;
    /*transition: color .3s;*/
    font-size: 4rem;
    /*line-height: 1.5;*/
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

#news {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.news {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
    gap: 2.5rem;
}

#news h2 {
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 2rem;
}

.news-content {
    background: rgba(0, 0, 0, .05);
    padding: 2rem;
    z-index: 2;
}

.news-content li {
    list-style-type: square;
}

.news-content a:hover, .news article a:hover {
    color: red;
}

.news-content a {
    color: #000;
    font-size: 1.25rem;
}

.news article a {
    text-decoration: none;
    font-size: 2.25rem;
    color: #000;
    font-weight: 700;
}

.news article a img {
    filter: drop-shadow(0 8px 24px rgba(0, 0, 0, .2));
    box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
    width: 100%;
}

.news article a h3 {
    margin: 0;
    max-width: 520px;
}

article {
    z-index: 2;
}

#hobbies {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.hobbies {
    position: relative;
    padding-top: calc(10vh + 112px);
    padding-left: 120px;
    margin-bottom: 5.625rem;
    max-width: 166vh;
}

.hobbies h2 {
    font-size: 2rem;
    margin: 0 0 2.5rem 0;
}

.content-hobbies {
    display: flex;
}

.main-hobbies {
    position: relative;
}

.main-hobbies img {
    width: 100%;
    aspect-ratio: 16/9;
}

.main-hobbies a::after {
    position: absolute;
    content: "";
    border: 1px solid hsla(0, 0%, 100%, .2);
    top: 4px;
    right: 4px;
    bottom: 8px;
    left: 4px;
}

.nav-hobbies {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    width: 300px;
    max-height: 503px;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 2;
}

.items {
    display: flex;
    margin-bottom: 1.25rem;
}

.items h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    align-self: center;
}

.items img {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .17), 0 8px 32px rgba(0, 0, 0, .15);
    border: 4px solid transparent;
}

a[href="#hobbies"] {
    text-decoration: none;
    color: #000;
}

a[href="#hobbies"]:hover {
    color: #e60000;
}

.active {
    border: 4px solid #e60000;
}

#exp {
    position: relative;
    background-image: url("/img/mac3.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

#exp h2 {
    font-size: 3.5rem;
    margin: 0 8.75rem; /* 10% */
    padding-top: 20vh;
    min-width: 18.75rem;
}

.exp-links {
    margin: 1.125rem 8.75rem; /* 10% */
    min-width: 18.75rem;
}

.exp-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.exp-links a:hover {
    color: red;
}

.exp-links a:active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: -4px;
}

.exp-links a:last-child {
    margin-left: 2rem;
}

.timeline {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 10vh;
    padding: 0 8.75em; /* 10% */
    overflow-x: auto;
    z-index: 2;
}

.timeline a {
    color: #000;
}

.timeline p {
    text-align: left;
}

.exp-content {
    flex-shrink: 0;
    width: 390px; /*24.375rem*/
}

.exp-content p {
    width: 90%;
}

.status {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    border-top: 4px solid #000;
    position: relative;
}

.status:before {
    background-color: #fff;
    content: "";
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    border: 4px solid #000;
    position: absolute;
    top: -8px;
    left: 0;
}

.bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.text {
    line-height: 1.5rem;
}

.popup-exp {
    position: fixed;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
}

.popup-exp:target {
    visibility: visible;
}

.close-exp {
    text-decoration: none;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 4rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1;
}

#comment {
    background-image: url("/img/background.webp");
    background-size: cover;
    position: relative;
}

.wrapper-comment {
    display: flex;
    gap: 2.5rem;
    position: relative;
    top: 25vh;
    margin-left: 10%;
    z-index: 2;
}

.wrapper-comment a {
    position: relative;
    margin-right: 2.5rem;
}

.wrapper-comment a::after {
    content: "";
    border: 1px solid hsla(0, 0%, 100%, .16);
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.comment-img {
    display: flex;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .24)) drop-shadow(0 8px 32px rgba(0, 0, 0, .3));
    overflow-x: auto;
}

.comment-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    max-width: 450px;
}

.comment-title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
}

.comment-title p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.comment-title p:first-of-type {
    font-size: 1.5rem;
    font-weight: 700;
}

#contact {
    position: relative;
    background-image: url("/img/background.webp");
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .background {
        display: flex;
        flex-direction: column;
    }

    #contact h2 {
        min-width: 360px;
    }
}

.form-content {
    max-width: 35vw;
}

#form {
    z-index: 2;
    width: 50%;
    margin-left: 2.5rem;
}

.form {
    padding: 10% 10% 5% 10%;
}

.background {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: hsla(0, 29%, 71%, .05);
    padding: 3.75rem 1.25rem;
}

.title-form {
    display: flex;
    align-items: center;
}

#contact h2 {
    font-size: 3.875rem;
    text-transform: uppercase;
    margin: 0;
    min-width: 360px;
}

.form-content p {
    font-size: 0.875rem;
}

#name, #email, #message {
    box-sizing: border-box;
    border: 1px solid #91a198;
    box-shadow: 0 20px 32px rgba(63, 101, 97, 0.3);
    padding: 0.875rem 1rem;
    margin-bottom: 1rem;
    outline: none;
    margin-top: .5rem;
    width: 100%;
}

#message {
    max-width: 605px;
    max-height: 190px;
}

.trapezoid .form-button {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -35px;
    left: 22%;
    color: red;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#name:focus, #email:focus, #message:focus {
    border-color: red;
}

#footer {
    background-color: #000;
    text-align: center;
}

.links-top, .links-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links-top a, .links-bottom a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .2em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2.5rem 0 0 2rem;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
}

.socials a {
    margin-left: 2.5rem;
}

.copyright {
    font-size: 1.125rem;
    color: hsla(0, 0%, 100%, .6);
    margin-top: 2.5rem;
}

.line {
    margin: 2.5rem auto 0;
    border-bottom: 1px solid #2c2c2c;
    width: 70%;
}

.logos-top, .logos-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 2rem;
}

.st2 {
    fill: #001E36;
}

.st3 {
    fill: #31A8FF;
}
